</article>
    

<footer>
  <div class="card text-center">
    <div class="card-header">
      FPT Polytechnic
    </div>
    <div class="card-body">
      <h5 class="card-title">THÔNG TIN LIÊN HỆ</h5>
      <p class="card-text">Trụ sở chính Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội.</p>
      <a href="/info" target="page" class="btn btn-primary">Go</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</footer>

</div>



<script src="stylesheets/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>