<%- include('../inc/top', {all_title: 'Add Users'}) %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    
</head>
<body>
    
    <div class="container" >
      
      <form method="post" action="/users/addUsers">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Fullname</label>
          <input type="text" class="form-control" name="fullName" id="fullName">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Username</label>
          <input type="text" class="form-control" name="userName"  id="userName" >
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Status</label>
          <input type="text" class="form-control" name="status" id="status">
        </div>

        <div class="col-0 col-5-edit" >
          <a class=" btn-edit" href="/users">
            <button class="btn btn-primary">Back</button>
          </a>
          <button type="submit" class="btn btn-primary">Submit</button>
       </div>
      </form>

     
      
    </div>
    <script src="stylesheets/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<%- include('../inc/bottom') %>