<%- include('../inc/top', {all_title: 'Add San Pham'}) %>
<h1>Add</h1>

<form method="post" action="">
    <input type="text" name="ten_sp" placeholder="nhap ten sp"/>
    <button type="submit">Submit</button>
</form>
<%- include('../inc/bottom') %>